* {
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
    color: rgb(255, 255, 255);
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:hover {
    color: #B85C38;
}
/* header menu */

.headerIMG {
    max-width: 100%;
    position: absolute;
}

.headerMenu {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2%;
    padding: 5%;
    position: relative;
}

.logo {
    color: rgb(255, 255, 255);
    font-family: Nunito;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0%;

    width: auto;
    margin-left: 5%;


    transition: 0.5s;
}

/* logo effect hover */

  .logo:hover {
    text-shadow: 0 0 5px #ff4800,
                0 0 25px #ff4800,
                0 0 #ff4800,
                0 0  #ff4800;
  }



.textLinkHero {
    width: auto;

    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;   
    
    position: relative;

    display: flex;
    text-decoration: none;
    margin-left: 40%;
    margin-top: 7px;
    gap: 10%;
}

.textLinkHero a {
    display: inline-block;
    color: rgb(255, 255, 255);
    line-height: 1;
    text-decoration: none; /* Убираем подчеркивание */
    cursor: pointer;
}


/* Text Link effect hover */
.textLinkHero a:hover {
    color: #ffa17b;
}
.textLinkHero a:after {
    
    background-color: #f66d52; /* Цвет линии при наведении на нее курсора мыши */
    display: block;
    content: "";
    height: 2px; /* Высота линии */
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
.textLinkHero a:hover:after,
.textLinkHero a:focus:after {
    
    width: 100%;
}

.navLink {
    display: flex;
}

/* Кнопка Регистрации */

.demo-btn {
    margin-top: -15px;
    margin-left: 25%;


    
    
    color: rgb(255, 255, 255);;
    border-radius: 40px;
    background: rgb(184, 92, 56);

    padding: 12px 32px 12px 32px;
}

.demo-btn:hover {
    border: 2px rgb(255, 255, 255) solid;
    transition: 1s;
}

.demo-btn:not(:hover) {
    transition: 1s;
  }

/* Play Section */
.playButton {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    max-width: 80px; 
    height: 80px;
    background: #B85C38;
    border-radius: 50%;

    }

.playIcon {
    position: relative;
    margin-left: 35%;
    margin-top: 35%;
}

/* hover эффект кнопки */
.playButton:hover {
    border: 3px rgb(255, 255, 255) solid;
    border-radius: 50%;
    background: none;
    transition: 1s;
}
.playButton:not(:hover) {
    transition: 1s;
  }

  /* Text container */
.textContainer {
    position: relative;
    margin-top: 3%;

    text-shadow: 2px 2px 2px black;
    color: rgb(255, 255, 255);
    font-family: Nunito;
    font-size: 72px;
    font-weight: 700;
    line-height: 98px;
    letter-spacing: 0%;
    text-align: center;

    transition: 1s;
}

/* logo effect hover */

  .textContainer:hover {


    text-shadow: 0 0 10px #ff4800,
                0 0 30px #ff4800,
                0 0 #ff4800,
                0 0  #ff4800;
  }


.textBtmContainer {
    position: relative;

    color: rgb(255, 255, 255);
    font-family: Nunito;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: center;
    transition: 1s;
}

/* logo effect hover */

  .textBtmContainer:hover {


    text-shadow: 0 0 5px #ff4800,
                0 0 25px #ff4800,
                0 0  #ff4800,
                0 0  #ff4800;
  }



    /* Two Buttons */

.duoButtons {
    display: flex;
    margin-top: 2%;
    margin-left: 38%;
    gap: 3%;
}
.button-1, .button-2  {
    position: relative;
    border-radius: 40px;

    color: rgb(255, 255, 255);
    background: rgb(184, 92, 56);
    padding: 18px 32px 18px 32px;
}

.button-2 {
    background: none;
    border: 2px rgb(255, 255, 255) solid;
}

.button-2:hover {
    background: rgb(184, 92, 56);
    border-radius: 40px;
    transition: 1s;
}
.button-1:hover {
    border: 2px rgb(255, 255, 255) solid;
    border-radius: 40px;
    transition: 1s;
}

.button-1:not(:hover) {
    transition: 1s;
  }

  .button-2:not(:hover) {
    transition: 1s;
  }

/* Изменение цветов при наведении hover */

.button-1:hover + .button-2 {
    background: rgb(184, 92, 56);
    border: none;
}

.button-2:hover + .button-1 {
    background: none;
    border: 2px rgb(255, 255, 255) solid;
}


/* Cards section */

.titleTextSection {
    position: relative;
    margin-top: 25%;


    color: rgb(45, 36, 36);
    font-family: Nunito;
    font-size: 64px;
    font-weight: 700;
    line-height: 87px;
    letter-spacing: 0%;
    text-align: center;
    transition: 1s;
}

.btmTextSection {
    margin-top: 1%;
    padding: 2%;
    color: rgb(189, 189, 189);
    font-family: Nunito;
    font-size: 29px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: center;
    transition: 1s;
}

/* hover effect title section */
.titleTextSection:hover{


    text-shadow: 0 0 15px #f5bf92,
                0 0 4px #f5bf92,
                0 0  #f5bf92,
                0 0  #f8723e;
  }


/* Cards */
.cards-section {
    display: flex;
    justify-content: space-between;
}

.main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10%;
    gap: 5%;
    position: relative;
    margin-top: 3%;
  }

  .wrap {
  
    transform-style: preserve-3d;
    transform: perspective(100rem);
  
    cursor: pointer;
  }
  
  .container {
    --rX: 0;
    --rY: 0;
    --bX: 50%;
    --bY: 80%;
  
    max-width: 20rem;
    height: 20rem;
    border: 1px solid var(--background-color);
    border-radius: 1.6rem;
    padding: 4rem;
  
    display: flex;
    align-items: center;
  
    position: relative;
    transform: rotateX(calc(var(--rX) * 1deg)) rotateY(calc(var(--rY) * 1deg));
  
    background-color: #fff;
    background-position: var(--bX) var(--bY);
    background-size: 40rem auto;
    box-shadow: 0 0 8rem .5rem hsla(0, 2%, 84%, 0.2);
  
    transition: transform .6s 1s;
  }
  
  /* Cards hover effect */
  .container::before,
  .container::after {
    content: "";
  
    width: 0rem;
    height: 0rem;
    border: 1px solid #0a0303;
  
    position: absolute;
    z-index: 2;
  
    opacity: .3;
    transition: .3s;
  }
  
  .container::before {
    top: 2rem;
    right: 2rem;
  
    border-bottom-width: 0;
    border-left-width: 0;
  }
  
  .container::after {
    bottom: 2rem;
    left: 2rem;
  
    border-top-width: 0;
    border-right-width: 0;
  }
  
  .container--active {
    transition: none;
  }
  
  .container p {
    color: #B85C38;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: center;
  }

  .textInfoCard {
    color: rgb(189, 189, 189);
    font-family: Nunito;
    font-size: 12px;
    letter-spacing: 0%;
    text-align: center;
  }
  
  .wrap:hover .container::before,
  .wrap:hover .container::after {
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
  }

  .flex-container {
    display: flex;
    flex-direction: column;
  }

  .title {
    color: #B85C38;
    order: -1; 
  }

  .rocket-image {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    width: 30%;
    order: -1;
  }

  /* Invest Container IMG */

.investIMG {
    width: 100%;
    position: absolute;
  }

  /* text container */
  .titleTextInvest {
    color: rgb(92, 61, 46);
    font-family: Nunito;


    max-width: 399px;

    font-size: 48px;
    font-weight: 700;
    line-height: 65px;
    text-align: left;
  }

  .btmTextInvest {
    color: rgb(92, 61, 46);
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;

    max-width: 445px;
  }


  /* Avatar */
  .MelonAsk {
    max-width: 15%; 
    margin-top: 5%;
  }

  .avatarText {

    color: rgb(45, 36, 36);
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;

    margin-left: 8%;
    margin-top: -10%;

    max-width: 138px;
  }


  /* Container Invest */
.hover-text-one {
	overflow: hidden;
	margin: 0;
	width: 100%;
	list-style: none;
	text-align: center;
}
.hover-text-one figure {
	position: relative;
	z-index: 1;
	display: inline-block;
	overflow: hidden;
	background: #f1f1f1;
	text-align: center;
	cursor: pointer;
}
.hover-text-one figure img {
	position: relative;
	display: block;
	min-height: 100%;
	opacity: 0.8;
}
.hover-text-one figure figcaption {
	padding: 8em;
	color: #fff;
	font-size: 1.25em;

    margin-top: -4%;
    margin-left: 45%;

	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.hover-text-one figure figcaption::before,
.hover-text-one figure figcaption::after {
	pointer-events: none;
}
.hover-text-one figure figcaption{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.hover-text-one figure h3 {
	word-spacing: -0.15em;
	font-weight: 300;
}
.hover-text-one figure h3 span {
	font-weight: 800;
}
.hover-text-one figure h3,
.hover-text-one figure p {
	margin: 0;
}

    /* Эффект при наведении */
figure.effect-text-three {
	background: #b85c3886;
}
figure.effect-text-three img {
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	transform: scale(1.1);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
figure.effect-text-three:hover img {

	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
figure.effect-text-three figcaption {
	text-align: left;
}
figure.effect-text-three h3 {
	position: relative;
	overflow: hidden;
	padding: 0.5em 0;
}
figure.effect-text-three h3::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: #ffffff00;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}
figure.effect-text-three:hover h3::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
figure.effect-text-three p {
	padding: 1em 0;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}
figure.effect-text-three:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
     
figure.effect-text-three .avatarText {
	padding: 1em 0;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}
figure.effect-text-three:hover .avatarText {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}



    /* Title Info Cards */

.titleInfoCards {

    margin-top: 15%;

    color: rgb(45, 36, 36);
    font-family: Nunito;
    font-size: 64px;
    font-weight: 700;
    line-height: 87px;
    letter-spacing: 0%;
    text-align: center;
}

.btnTextCards {
    margin-top: 3%;
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;

    color: rgb(189, 189, 189);
    font-family: Nunito;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: center;
}

    /* Cards Info:hover */
    .card {
        transition: transform 0.2s ease;
        border-radius: none;
        border: none;
        margin-bottom: 1.5em;
      }
      .card:hover {
        transform: scale(1.1);
        box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
      }
      
      .textBrown {
        color: #B85C38;
      }
        .textBrown:hover {
            color: #ffa17b;
        }
        .textBrown:after {
            
            background-color: #f66d52; /* Цвет линии при наведении на нее курсора мыши */
            display: block;
            content: "";
            height: 2px; /* Высота линии */
            width: 0%;
            -webkit-transition: width .3s ease-in-out;
            -moz--transition: width .3s ease-in-out;
            transition: width .3s ease-in-out;
        }
        .textBrown:hover:after,
        .textBrown:focus:after {
            
            width: 100%;
        }
  
    
    /* Cards settings */
    .cards-title {
        color: rgb(0, 0, 0);
        font-family: Nunito;
        font-size: 24px;
        font-weight: 700;
        line-height: 33px;
        letter-spacing: 0%;
        text-align: left;
    }
    
    .cards-text {
        max-width: 310px;
        color: rgb(189, 189, 189);
        font-size: 16px;
        font-weight: 400;
        line-height: 160%;
        letter-spacing: 0%;
    }

    .card-gap {
        padding: 4%;
        margin: -7%;
    }
    

    /* Science Blog */

.scienceBlog {
    background-color: rgb(247, 249, 252);
    overflow-x: hidden;

}


.itemBlog {
    padding: 100px;
    margin-top: 2%;
    flex-basis: 50%;
    margin-left: 5%;
}

.titleBlog {

    margin-top: 5%;
    width: 420px;


    color: rgb(51, 51, 51);
    font-family: Nunito;
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0%;
    text-align: left;
}

/* hover effect title blog */

.titleBlog {
    opacity: 0;
}

.fadeInAnimation {
    opacity: 1;
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Buttom text blog */
.btmTextBlog {
    margin-top: 8%;

    color: #49494952;
    font-family: Nunito;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
}

/* Hover Effect Text Blog */

.fadeInAnimation {
    opacity: 1;
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Button effect all stories */

.stories-btn {
    margin-top: 7%;
    
    color: rgb(255, 255, 255);;
    border-radius: 40px;
    background: rgb(184, 92, 56);

    padding: 12px 32px 12px 32px;
}

.stories-btn:hover {
    border: 2px rgb(0, 0, 0) solid;
    color: #0a0303;
    transition: 1s;
}

.stories-btn:not(:hover) {
    transition: 1s;
  }

/* Stories blog */
.cardBlog {

    overflow: hidden;
    /* justify-content: end;
    align-items: end;
    flex-wrap: wrap; */
   padding: 10%;

}
.form-card {
  
    width: fit-content;
    animation: scroll 3s linear infinite;
}
.cardBlog {
  
    overflow: hidden;
    flex-wrap: nowrap;

    gap: 20px;
    padding: 50px;
    margin: 0;
    transition: transform 1s ease;
  }
  
  .card {

    margin-right: 10px; /* Между карточками можно добавить отступ справа */
  }
  
  .col {
    flex: 1;
  }
  
  .form-card {
    
    width: fit-content;
    animation: scroll 10s linear infinite;
    animation-delay: 5ms; /* Задержка в 1 секунду перед повторным проигрыванием анимации */
  }
  
/* Анимация движения карточек */
@keyframes scroll {
    to {
      transform: translateX(calc(100% - 20px));
    }

    from {
        transition: 5s;

      }
  }



.cards-title-1, .cards-title-2 {
    padding: 1%;
    max-height: 30%;

    color: rgb(51, 51, 51);
    font-size: 30px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0%;
    text-align: left;
}

.cards-title-1 {
    padding: 1%;
    font-size: 27px;
}

.cards-title-2 {
    padding: 2%;
    font-size: 27px;
}

.cards-text-1, .cards-text-2 {
    color: rgb(189, 189, 189);
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
}

.cards-text-1 {
  margin-bottom: 27%;
}

/* User Container */

.userContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10%;
}

.userIMG {
  padding: 10%;
  margin-left: 30%;
}

/* User IMG - 1,2 and 3 */

.userIMG-1, .userIMG-2, .userIMG-3 {
  margin-bottom: 10%;
  margin-top: 10%;
}

.textUser {
  width: 80%;
  margin-left: 10%;

  text-align: center;
  color: rgb(51, 51, 51);
  font-family: Nunito;
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0%;
  text-align: center;
}

.nameUser {
  margin-top: 10%;

  color: rgb(51, 51, 51);
  font-family: Nunito;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: center;
}

.jobUser {
  margin-top: 2%;

  color: rgb(51, 51, 51);
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

.mgCard {
  padding-top: 20%;
}

  /* hover effect */
  .flip-card {
    border-radius: 10%;
    padding: 10px;
    width: 450px;
    height: 330px;
    perspective: 1000px;
    float:left; 
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    border-radius: 10%;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    border-radius: 10%;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #ffffffc9;
    color: black;
  }
  
  .flip-card-back {
    background-color: #f1f1f196;
    color: white;
    transform: rotateY(180deg);
  }

  /* Link Icon */
  .linksIcon {
    display: flex;
    padding-top: 10%;
    gap: 10%;
    margin-left: 25%;
  }

  .iconIMG {
    width: 30px;
    transition: 0.5s;
  }

  .iconIMG:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
  }

  .userContainer {
    margin-bottom: 15%;
  }

  /* Footer Btm IMG */
  .footerIMG_btm {
  
  top: 50%;
  margin-top: 5%;
  width: 100%;
}

.footer-container-1 {
  position: relative;
  padding: 12%;
  margin-top: -50%;

}



/* Footer text cont 1 */
.footer-logo {

  margin-top: 10%;
  margin-bottom: 2%;

  transition: 1s;

  color: rgb(255, 255, 255);
  font-family: Nunito;
  font-size: 36px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0%;
  text-align: left;
}

.address-footer {

  width: 300px;
  margin-bottom: 2%;

  color: rgb(255, 255, 255);
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.numbers-footer {
  width: 15%;
 
  color: rgb(255, 255, 255);
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.number-1  {
  margin-bottom: 10%;
}


/* Hover effect address, num-1-2 */
.address-footer:hover, .number-1:hover, .number-2:hover  {
  color: #ffa17b;
}
.address-footer:after, .number-2:after, .number-1:after {
  
  background-color: #f66d52; /* Цвет линии при наведении на нее курсора мыши */
  display: block;
  content: "";
  height: 2px; /* Высота линии */
  width: 0%;
  -webkit-transition: width .3s ease-in-out;
  -moz--transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}
.address-footer:hover::after, .number-1:hover:after, .number-2:hover:after, 
.address-footer:focus:after, .number-1:focus:after, .number-2:focus:after  {
  
  width: 100%;
}

/* Footer Text Cont 2 */

.footer-container-2 {
  position: relative;
  padding: 12%;
  margin-top: -38%;
  
  margin-left: 30%;
}


.quickLinks {

  margin-bottom: 3%;

  color: rgb(255, 255, 255);
  font-family: Nunito;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0%;
  text-align: left;
}

.links {
  width: 100px;
  display: flex;
  flex-direction: column;

  color: rgb(255, 255, 255);
  font-family: Nunito;
  font-size: 16px;
  font-weight: 700;
  line-height: 200%;
  letter-spacing: 0%;
  text-align: left;
  }

.link1, .link2, .link3, .link4 {
  margin-bottom: 3%;
}

/* Hover Cont-2 */

.footer-logo:hover {
    text-shadow: 0 0 10px #ff4800,
                0 0 30px #ff4800,
                0 0 #ff4800,
                0 0  #ff4800;
}


/* Hover link */
.link1:hover, .link2:hover, .link3:hover, .link4:hover {
  color: #ffa17b;
}
.link1:after, .link2:after, .link3:after, .link4:after {
  
  background-color: #f66d52; /* Цвет линии при наведении на нее курсора мыши */
  display: block;
  content: "";
  height: 2px; /* Высота линии */
  width: 0%;
  -webkit-transition: width .3s ease-in-out;
  -moz--transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}
.link1:hover::after, .link2:hover::after, .link3:hover::after, .link4:hover::after, 
.link1:focus::after, .link2:focus::after, .link3:focus::after, .link4:focus::after  {
  
  width: 100%;
}


/* news letter*/

.textBox {
  margin-left: 60%;
  position: relative;
  margin-top: -26.6%;
  
}

.textBoxTitle {
  /* Newsletter */

  margin-bottom: 5%;

  color: rgb(255, 255, 255);
  font-family: Nunito;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0%;
  text-align: left;   
}

.text-Box {
/* bg */
  padding-right: -50%;
  width: 470px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.18);
}

.text-box-1 {
  position: static;
  padding: 15px;
  border-color: white;
  border-radius: 5px;

  margin-left: 6%;
  margin-top: 4%;
  margin-right: 3%;
  padding-right: 20%;
  margin-bottom: 9%;

  background: rgb(255, 255, 255);
}

.text-title-box {

  padding-top: 7%;
  margin-left: 5%;

  color: rgb(255, 255, 255);
  font-family: Nunito;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: left;
}

.button-go {
  color: #F7F9FC;
  transition: 1s;

  width: 80px;
  border-radius: 40px;
  background: rgb(184, 92, 56);
}

.button-go:hover {
  border: solid 2px;
  border-radius: 40px;
  border-color: #F7F9FC;
}

/* Line */

.line {
  width: 75%;

  margin-top: 5%;
  margin-left: 11.8%;

  border: 1px solid rgb(255, 255, 255);
  opacity: 0.2;

}

.textLine {
  margin-left: 11.8%;
  margin-top: 2%;

  color: rgb(255, 255, 255);
  font-family: Nunito;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
}

.linkLineIcon {

  display: flex;
  justify-content: end;
  gap: 1%;
  margin-right: 14%;
  margin-top: -1%;
}

.iconLine1, .iconLine2, .iconLine3, .iconLine4 {
  width: 15px;
}



/* Burger Menu Container */
  
.burger-menu-container {
  position: relative;
}

.burger-menu {
  font-size: 30px;
  cursor: pointer;
  position: relative;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 20px;
  top: 60px;
  background-color: #000000;
  box-shadow: 0 4px 8px rgba(250, 239, 239, 0.6);
  display: none;
}

.menu-list li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #bebebe;
}

.menu-list li a:hover {
  background-color: #ff7f24;
}

.burger-menu-container {
  display: none;
}


@media (max-width: 991px) {
  .textLinkHero {
    margin-left: 18%;
    gap: 6%;
  }

  .demo-btn {
    margin-left: 19%;
  }

  .playButton {
    width: 70px;
    height: 70px;
  }

  .textContainer {
    font-size: 60px;
    
    margin-top: 1%;
  }

  .textBtmContainer {
    font-size: 20px;

    margin-top: -1%;
  }

  .duoButtons {
    margin-left: 34%;
  }

  .titleTextSection {
    font-size: 55px;
  }

  .btmTextSection {
    font-size: 28px;
  }

 /* Invest Cont */

 .titleTextInvest {
    width: 350px;
    margin-top: -13%;
    font-size: 40px;
 }

 .btmTextInvest {
    width: 350px;
    font-size: 18px;
    margin-left: -15%;
 }

 .avatarText {
  margin-top: -13%;
  font-size: 19px;
  margin-left: 10%;
 }

.itemCards {
  flex-wrap: wrap;
  display: flex; 
  justify-content:space-around;
}

.cards-title-1, .cards-title-2 {
  font-size: 24px;
}

.itemBlog {
  margin-left: -5%;
}

.cardBlog {
  margin-left: -12%;
  margin-top: 5%;
  gap: 5px;
  padding: 0px;
}

.cards-title-1 {
  font-size: 22px;
  line-height: 30px;
}

.cards-title-2 {
  font-size: 22px;
  line-height: 30px;
}

.cards-text-1, .cards-text-2 {
  width: 200px;
}

.cards-text-1 {
  margin-bottom: 10%;
}

.userContainer {
  flex-wrap: wrap;
}

.footer-container-1 {
  margin-left: -7%;
  margin-top: -70%;
}

.quickLinks {
  margin-top: -11%;
}

.footer-container-2 {
  margin-left: 19%;
}

.textBox {
  margin-top: -32.5%;
  margin-left: 52%;
  margin-bottom: 10%;
}

.text-Box {
  margin-top: 3%;
  max-width: 92%;
}

.address-footer {
  width:200px;
}

.footerIMG_btm {
  height: 700px;
}
}

@media (max-width: 768px) {
  .textLinkHero {
    display: none;
  }

  .burger-menu-container {
    display: block;
    max-width: 100%;
    margin-left: 370%;
    margin-top: 0%;
  }

  .playButton {
    margin-top: 3%;

    height: 60px;
    width: 60px;
  }

  .playIcon {
    margin-left: 33%;
    margin-top: 32%;
  }

  .textContainer {
    font-size: 50px;
    margin-left: 2%;
  }

  .textBtmContainer {
    font-size: 17px;
    margin-top: -2%;
  }

  .duoButtons {
    margin-left: 32%;
  }

  .button-1, .button-2 {
    padding: 10px 24px 10px 24px;
  }

  .titleTextSection {
    font-size: 50px;
  }

  .btmTextSection {
    font-size: 24px;
    margin-top: -2%;
  }

 .main {
    display: flex;
    padding: 2%;
    justify-content: space-evenly;
 }
  .titleTextInvest {
    width: 290px;
    margin-top: -23%;
    margin-bottom: -2%;

    font-size: 35px;
    line-height: 50px;
  }

  .btmTextInvest {
    width: 290px;

    line-height: 30px;
    font-size: 15px;
  }

  .textInvest {
    margin-left: -12%;
  }

  .avatarText {
    margin-top: -15.5%;
    margin-left: 13%;

    font-size: 15px;
  }

  .MelonAsk {
    margin-top: 10%;
  }

  .titleInfoCards {
    font-size: 50px;
  }

  .btnTextCards {
    font-size: 22px;
    width: 90%;

    margin-top: 1%;
    margin-bottom: 15%;
  }


  .itemBlog {
    margin-right: -8%;
  }

  .titleBlog {
    width: 300px;
    font-size: 40px;
    line-height: 45px;

    margin-top: -5%;
    margin-bottom: -5%;
  }

  .btmTextBlog {
    width: 300px;
    font-size: 23px;
  }

  .cardBlog {
    margin-left: -8%;
    margin-top: 5%;
    gap: 5px;
    padding: 0px;
  }
  
  .cards-title-1 {
    font-size: 18px;
    line-height: 30px;
  }
  
  .cards-title-2 {
    font-size: 18px;
    line-height: 30px;
  }
  
  .cards-text-1, .cards-text-2 {
    width: 146px;
    font-size: 15px;
  }
  
  .cards-text-1 {
    margin-bottom: 12%;
  }
  
  .footer-container-1 {
    margin-top: -90%;
  }

  .number-1, .number-2 {
  width: 200px;
  }

  .quickLinks {
    margin-top: -49%;
  }

  .links {
    display: flex;
    justify-content: end;
    align-items: end;

    margin-left: 14%;
  }

  .footer-logo {
    font-size: 30px;

  }
  .footer-container-1 {
    margin-left: 2%;
  }

  .footer-container-2 {
    margin-left: 55%;
  }


  .textBox {
    margin-top: -9%;
    margin-left: 30%;
  }

  .textBoxTitle {
    margin-left: 30%;
    margin-bottom: -1%;
  }

  .text-title-box {
    padding-top: -50%;
    margin-left: 20%;
  }

  .textBox {
    margin-left: 20%;
  }

  .text-box-1 {
    margin-bottom: 5%;
    padding-right: 45%;
  }

  .button-go {
    margin-top: -3%;
    margin-left: 43%;
    margin-bottom: 2%;
  }

  .footerIMG_btm {
    max-height: 130%;
  }

  .linebox {
    margin-top: -5%;
  }
}

@media (max-width: 390px) {

  .logo {
    font-size: 15px;
    margin-top: -10%;
    margin-left: -5%;
  }

  .burger-menu-container {
    display: block;
    margin-left: 260%;
    margin-top: -16%;
  }

  .playButton {
    width: 35px;
    height: 35px;
  }

  .playIcon {
    max-width: 35%;

    margin-top: 34%;
    margin-left: 34%;
  }

  .playContainer {
    margin-top: -1%;
  }

  .textContainer {
    font-size: 27px;
    margin-left: 1%;
    margin-top: -6%;
  }

  .textBtmContainer {
    width: 270px;
    line-height: 18px;
    font-size: 11px;

    margin-left: 17%;
    margin-top: -8%;
  }


  .duoButtons {
    gap: 16px;
    margin-left: 28%;
  }
  .button-1, .button-2 {
    font-size: 11px;
    padding: 4px 10px 4px 10px;
  }


  .titleTextSection {
    font-size: 22px;
    margin-top: 8%;
  }

  .btmTextSection {
    font-size: 11px;
    line-height: 17px;

    margin-top: -7%;
  }

  .textInvest {
    margin-left: -150%;
    margin-top: -200%;
  }

  .titleTextInvest {
    font-size: 16px;
    width: 150px;

    line-height: 25px;
  }

  .btmTextInvest {
    font-size: 10px;
    width: 140px;
    line-height: 15px;
  }

  .avatarText {
    font-size: 8px;
    width: 90px;
    line-height: 10px;
    margin-top: -22%;
    margin-left: 18%;
  }


.hover-text-one figure figcaption,
.hover-text-one figure figcaption {
	pointer-events: none;
}
.hover-text-one figure figcaption{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.hover-text-one figure h3 {
	word-spacing: -0.15em;
	font-weight: 300;
}
.hover-text-one figure h3 span {
	font-weight: 800;
}
.hover-text-one figure h3,
.hover-text-one figure p {
	margin: 0;
}

    /* Эффект при наведении */
figure.effect-text-three {
	background: #b85c3886;
}
figure.effect-text-three img:hover {
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	transform: scale(1.1);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
figure.effect-text-three img {

	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
figure.effect-text-three figcaption {
	text-align: left;
}
figure.effect-text-three h3 {
	position: relative;
	overflow: hidden;
	padding: 0.5em 0;
}
figure.effect-text-three h3 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: #ffffff00;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}
figure.effect-text-three h3 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
figure.effect-text-three p {
	padding: 1em 0;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}
figure.effect-text-three p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
     
figure.effect-text-three .avatarText {
	padding: 1em 0;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}
figure.effect-text-three .avatarText {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.titleInfoCards {
  font-size: 24px;
}

.btnTextCards {
  font-size: 11px;
  line-height: 17px;

  margin-top: -5%;
}

.cardIMG-b {
  margin-left: 20%;
}

.cards-title {
  text-align: center;
}

.cards-text {
  text-align: center;
}

.itemBlog {
  margin-top: -10%;
  margin-left: -10%;
}

.titleBlog {
  text-align: center;
  font-size: 25px;
  line-height: 35px;
}

.btmTextBlog {
  text-align: center;
  font-size: 12px;
  line-height: 17px;
  width: 150px;
  margin-left: 25%;
}

.stories-btn {
  margin-left: 37%;
  padding: 4px 10px 4px 10px;
  font-size: 11px;
}

.cardBlog {
  margin-top: 80%;
  margin-left: -110%;
}



.footer-container-1 {
margin-left: -18%;
margin-top: -150%;
}

.footer-logo {
  margin-left: 12%;
}

.footer-container-2 {
  margin-top: 10%;
}


.address-footer, .numbers-footer {
  margin-left: 13%;
}


.number-2 {  
  margin-top: 25%;
}

.address-footer {
  width: 150px;
  line-height: 25px;
}

.links {
  margin-left: -18%;

  justify-content: flex-start;
  align-items: flex-start;
}

.footer-container-2 {
}
.quickLinks {
margin-left: -20%;
width: 150px;
margin-top: -395%;
margin-bottom: 20%;
}

.textBoxTitle {
  align-items: center;
  margin-left: 18%;
  margin-top: -50%
}

.text-Box {
  max-width: 116%;
  margin-left: -22%;
  padding-right: 0%;
}

.text-title-box {
  width: 300px;
  margin-left: 13%;
}

.button-go {

}

.text-box-1 {
  padding-right: 30%;
}

.textLine {
  margin-left: 3% ;

}

.linkLineIcon {
  margin-top: -4%;
}
}