* {
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
    color: rgb(255, 255, 255);
}

.headerIMG {
    position: absolute;
    width: 1365px;
    height: 924.55px;
    right: -15px;
    left: -8px;
    top: 0;
}


.logo {
    position: absolute;
    width: 120px;
    height: 31px;
    left: 165px;
    right: 829px;
    top: 85.37px;

    color: rgb(255, 255, 255);
    font-family: "Nunito", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0;
    text-align: left;
}


.textLink1 {
/* Features */
        position: absolute;
        width: 70px;
        height: 25.11px;
        left: 499px;
        right: -122px;
        top: 89.39px;
        bottom: -89.39px;
        text-decoration: none;

        color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0%;
        text-align: left;
}

.textLink2 {
/* Products */
    position: absolute;
    width: 72px;
    height: 25.11px;
    left: 619px;
    right: -244px;
    top: 89.39px;
    bottom: -89.39px;
    text-decoration: none;

    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
}

.textLink3 {
/* Testimonial */
            position: absolute;
            width: 92px;
            height: 25.11px;
            left: 741px;
            right: -386px;
            top: 89.39px;
            bottom: -89.39px;
            text-decoration: none;

            color: rgb(255, 255, 255);
            font-family: Nunito;
            font-size: 18px;
            font-weight: 400;
            line-height: 25px;
            letter-spacing: 0%;
            text-align: left;
}

.textLink4 {
/* Contact */
        position: absolute;
        width: 63px;
        height: 25.11px;
        left: 883px;
        right: -499px;
        top: 89.39px;
        bottom: -89.39px;
        text-decoration: none;

        color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0%;
        text-align: left;
        margin-right: 10px; /* Добавляем отступ справа от "Contact" */
}


.button-demo {
/* Try a demo */
    position: relative;
    width: 154px;
    height: 49px;
    left: 1150px;
    top: 32px;
/* Автолейаут */
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: center;
    justify-content: center;
    padding: 12px 22px  32px;

    border-radius: 40px;
    background: rgb(184, 92, 56);
}

.button-demo:hover {
    border: solid 2px;
    color:#F7F9FC;
    border: solid 2px;
    border-color:#F7F9FC;  ;
}

/* Contents */


.iconBg {
/* bg */
    position: absolute;
    width: 80px;
    height: 80px;
    left: 673px;
    right: -673px;
    top: 279px;
    bottom: -279px;
}

.iconPlay {
/* Vector (Stroke) */
    position: absolute;
    width: 25px;
    height: 20px;
    left: 702px;
    right: 12.5%;
    top: 310px;
    bottom: 8.33%;
}

.infoContent {
/* Best place to buy rocket */
    position: absolute;
    width: 750px;
    height: 98px;
    left: 340px;
    right: -321px;
    top: 399px;
    bottom: -358px;

    color: rgb(255, 255, 255);
    font-family: Nunito;
    font-size: 67px;
    font-weight: 700;
    line-height: 98px;
    letter-spacing: 0%;
    text-align: center;
    
    text-shadow:
    1px 1px 1px black,
    0 0 1em rgba(0, 0, 0, 0.24),
    0 0 0.2em rgba(0, 0, 0, 0.527);
  color: white;
}

.infoContent-2 {
    /* Quis ipsum pellentesque nulla nulla elementum sagittis dictum */
    position: absolute;
    width: 666px;
    height: 34px;
    left: 387px;
    right: -255px;
    top: 495px;
    bottom: -399px;

    color: rgb(255, 255, 255);
    font-size: 23px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: center;
}

/* Two Button */

.twoButton { 
/* Buttons */
    position: absolute;
    width: 337px;
    height: 63px;
    left: 542px;
    right: -81px;
    top: 578px;
    bottom: -279px;
}

.button-demo1 {
    /* Try a demo */
    position: relative;
    width: 167px;
    height: 63px;
    /* Автолейаут */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px 32px 18px 32px;

    border-radius: 40px;
    color: rgb(255, 255, 255);
    background: rgb(184, 92, 56);
}

.button-demo1:hover {
    
    color: white;
    border: solid 2px;
    border-radius: 40px;
    padding: 18px 32px 18px 32px;
    border-color: white;
}



.button-demo2 {
/* Buy now */
    position: relative;
    width: 146px;
    height: 63px;
    left: 200px;
    bottom: 63px;
/* Автолейаут */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px 32px 18px 32px;
    color: white;

    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 40px;
}


.avoid-text-1 {
    /* Features you can’s avoid */
    position: absolute;
    width: 720px;
    height: 87px;
    left: 360px;
    right: -160px;
    top: 1041px;
    bottom: -951px;

    color: rgb(45, 36, 36);
    font-size: 64px;
    font-weight: 680;
    line-height: 87px;
    letter-spacing: 0%;
    text-align: center;
}

.avoid-text-2 {
    /* Lacus purus eu, mauris pretium mollis ac id mauris eget. Id diam enim faucibus pellentesque mi massa. Nmet nullam sed habitasse dignissim viverra congue nisl */
    position: absolute;
    width: 920px;
    height: 66px;
    left: 260px;
    right: -260px;
    top: 1152px;
    bottom: -1041px;

    color: rgb(189, 189, 189);
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: center;
}


/* Avoid Icon */

.row-1 {
/* Row 1 */
    position: absolute;
    width: 0px;
    height: 180px;
    left: 143px;
    right: 164px;
    top: 1350px;
    bottom: -508px;
}

/* Icon 1 */
.icon-1 {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 200px;
    right: 1000px;
    top: 0%;
    bottom: 0%;
}
.icon-text {
    /* Solid Fuel */
    position: absolute;
    width: 109px;
    height: 33px;
    right: -272px;
    top: 60px;
    bottom: 41.67%;

    color: rgb(184, 92, 56);
    font-size: 20px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: center;
}
.text-row-1 {
    /* Eget mattis viverra in lorem dictum consequat etiam non pellentesque mauris diamprice ore */
    position: absolute;
    width: 267px;
    left: 84px;
    bottom: 19px;

    color: rgb(189, 189, 189);
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 10%;
    text-align: center;
}

/* Icon 2 */
.icon-2 {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 553px;
    right: 1000px;
    top: 0%;
    bottom: 0%;
}

.icon-text-2 {
    position: absolute;
    width: 109px;
    height: 33px;
    right: -633px;
    top: 60px;
    bottom: 41.67%;

    color: rgb(184, 92, 56);
    font-size: 20px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: center;
}

.text-row-2 {
    /* Eget mattis viverra in lorem dictum consequat etiam non pellentesque mauris diamprice ore */
    position: absolute;
    width: 277px;
    left: 433px;
    bottom: 19px;

    color: rgb(189, 189, 189);
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 10%;
    text-align: center;
}

/* Icon 3 */
.icon-3 {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 917px;
    right: 1000px;
    top: 0%;
    bottom: 0%;
}

.icon-text-3 {
    position: absolute;
    width: 109px;
    height: 33px;
    right: -992px;
    top: 60px;
    bottom: 41.67%;

    color: rgb(184, 92, 56);
    font-size: 20px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: center;
}

.text-row-3 {
    /* Eget mattis viverra in lorem dictum consequat etiam non pellentesque mauris diamprice ore */
    position: absolute;
    width: 277px;
    left: 793px;
    bottom: 19px;

    color: rgb(189, 189, 189);
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 10%;
    text-align: center;
}


/* Row 2 */
.row-2 {
 /* Row 2 */
    position: absolute;
    width: 1110px;
    height: 180px;
    left: 143px;
    right: 164px;
    top: 1610px;
    bottom: -768px;
}

/* Icon 4 */
.icon-4 {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 195px;
    right: 1000px;
    top: 0%;
    bottom: 0%;
}
.icon-text-4 {
    position: absolute;
    width: 138px;
    height: 33px;
    right: 824px;
    top: 60px;
    bottom: 41.67%;

    color: rgb(184, 92, 56);
    font-size: 20px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: center;
}

.text-row-4 {
    /* Eget mattis viverra in lorem dictum consequat etiam non pellentesque mauris diamprice ore */
    position: absolute;
    width: 277px;
    left: 77px;
    bottom: 19px;

    color: rgb(189, 189, 189);
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 10%;
    text-align: center;
}

/* Icon 5 */
.icon-5 {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 553px;
    top: 0%;
    bottom: 0%;
}
 .icon-text-5 {
    position: absolute;
    width: 172px;
    height: 33px;
    right: 448px;
    top: 60px;
    bottom: 41.67%;
    
    color: rgb(184, 92, 56);
    font-size: 20px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: center;
}
    
    .text-row-5 {
    /* Eget mattis viverra in lorem dictum consequat etiam non pellentesque mauris diamprice ore */
    position: absolute;
    width: 277px;
    left: 434px;
    bottom: 19px;
    
    color: rgb(189, 189, 189);
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 10%;
    text-align: center;
}

/* Icon 6 */
.icon-6 {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 920px;
    top: 0%;
    bottom: 0%;
}

.icon-text-6 {
    position: absolute;
    width: 172px;
    height: 33px;
    right: 81px;
    top: 60px;
    bottom: 41.67%;
    
    color: rgb(184, 92, 56);
    font-size: 20px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: center;
}
    
    .text-row-6 {
    /* Eget mattis viverra in lorem dictum consequat etiam non pellentesque mauris diamprice ore */
    position: absolute;
    width: 277px;
    left: 793px;
    bottom: 19px;
    
    color: rgb(189, 189, 189);
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 10%;
    text-align: center;
}

    /* Time to Invest */

.investIMG {
    /* Rectangle 2 */
    position: absolute;
    width: 1360.87px;
    height: 600px;
    left: -3.8699999999999974px;
    right: -641px;
    top: 1943px;
    bottom: -1943px;
}

.timeInvest-text {
    /* Text */
    position: absolute;
    width: 445px;
    height: 335px;
    left: 830px;
    right: 165px;
    top: 2075px;
    bottom: -1810px;
}

.slogan {
    /* “Right time to invest into space” */
    position: absolute;
    width: 445px;
    height: 130px;
    left: -22px;
    right: -898px;
    top: -14px;
    bottom: -1870px;    

    color: rgb(92, 61, 46);
    font-family: Nunito;
    font-size: 48px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0%;
    text-align: left;   
}

.slogan-text {
    position: absolute;
    width: 445px;
    height: 130px;
    left: -22px;
    right: -898px;
    top: 130px;
    bottom: -1870px;      

    color: rgb(92, 61, 46);
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
}

/* Avatar investor */
.ellipse-2 {
    /* Ellipse 2 */
    position: absolute;
    width: 64px;
    height: 64px;
    left: -21px;
    right: -685px;
    top: 250px;
    bottom: -2346px;
}

.investor-cardname {
/* Milon Ask CEO, Blackhole */
    position: absolute;
    width: 124px;
    height: 64px;
    left: 68px;
    right: -685px;
    top: 265px;
    bottom: -2339px;

    color: rgb(45, 36, 36);
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
}


/* Cards Info */
.cardsInfo {
    /* bg */
    position: absolute;
    width: 1352px;
    height: 950px;
    left: 0;
    right: 0;
    top: 2543px;
    bottom: -2543px;
}

/* titulTextInfo */
.titulTextInfo {
    /* Affordable, good quality. */
    position: absolute;
    width: 745px;
    height: 87px;
    left: 319px;
    right: -166px;
    top: 136px;

    color: rgb(45, 36, 36);
    font-size: 64px;
    font-weight: 700;
    line-height: 87px;
    letter-spacing: 0%;
    text-align: center;
}

.textLoremInfo {
    /* Lacus purus eu, mauris pretium mollis ac id mauris eget. Id diam enim faucibus pellentesque mi massa. Nmet nullam sed habitasse dignissim viverra congue nisl */
    position: absolute;
    width: 920px;
    height: 66px;
    left: 230px;
    right: -260px;
    top: 237px;

    color: rgb(189, 189, 189);
    font-family: Nunito;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: center; 
}

/* Item Cards */

.itemCards {
    /* Items */
    position: absolute;
    width: 1110px;
    height: 441px;
    left: 165px;
    right: 164px;
    top: 407px;
    bottom: -2422px;
}

.card {
    transition: transform 0.2s ease;
    border-radius: none;
    border: none;
    margin-bottom: 1.5em;
  }
  .card:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
  }

.textBrown {
    color: #B85C38;
}

.cards-title {
    color: rgb(0, 0, 0);
    font-family: Nunito;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
}

.cards-text {
    width: 310px;
    color: rgb(189, 189, 189);
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0%;
}


/* Text Blog */
.scienceBlog {
    /* bg */
    position: absolute;
    width: 1358px;
    height: 800px;
    left: 0;
    right: 0;
    top: 3493px;
    bottom: -3493px;    
    background: #F7F9FC
}


/* Text Blog */
.textBlog {
    /* Text */
    position: absolute;
    width: 445px;
    height: 253px;
    left: 165px;
    right: 830px;
    top: 2000px;
    bottom: -3102px;    
}

.textBlog-1 {
    /* Don’t miss Rocket Science blog */
    position: absolute;
    width: 445px;
    height: 130px;
    left: 16px;
    right: -165px;
    top: -1857px;
    bottom: -3526px;   
    
    color: rgb(51, 51, 51);
    font-family: Nunito;
    font-size: 48px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0%;
    text-align: left;
}

.textBlog-2 {
    /* Nmet nullam sed habitasse dignissim viverra congue nisl. Lacus purus eu, mauris pretium mollis ac id mauris eget. */
    position: absolute;
    width: 445px;
    height: 99px;
    left: 19px;
    right: -165px;
    top: -1711px;
    bottom: -3649px;

    color: rgb(189, 189, 189);
    font-family: Nunito;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
}

.button-stories {
    /* Try a demo */
    position: relative;
    width: 156px;
    height: 63px;
    top: -1577px;
    left: 20px;
    color: #F7F9FC;
    /* Автолейаут */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px 32px 18px 32px;

    border-radius: 40px;
    /* Caramel */
    background: rgb(184, 92, 56);
}

.button-stories:hover {
    border: solid 2px;
    color: black;
    border-radius: 40px;
    border-color: black;
}

.cardBlog {
    max-width: 100%;
    position: absolute;
    height: 100px;
    left: 667px;
    width: 650px;
    top: 106px;
}

.cards-title-1, .cards-title-2 {
    color: rgb(51, 51, 51);
    font-size: 30px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0%;
    text-align: left;
}

.cards-text {
    color: rgb(189, 189, 189);
    font-family: Nunito;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
}


/* Stories Blog */
.storiesBlog {
    /* Rectangle 3 */
    position: absolute;
    width: 1457px;
    height: 500px;
    left: -150px;
    right: 830px;
    top: 800px;
    bottom: -3102px;
}

.user-1 {
    /* Item 1 */
    position: absolute;
    width: 500px;
    height: 355px;
    left: 116px;
    right: 595px;
    top: 145px;
    bottom: -4406px;
}

.ava-1, .ava-2, .ava-3 {
    /* Ellipse 3 */
    position: absolute;
    width: 90px;
    height: 90px;
    left: 196px;
    right: -35px;
    top: 21px;
}

.text-user-1, .text-user-2, .text-user-3 {
    /* I brought a rocket for my son in his 14th birthday. I liked their service. Love it. */
    position: absolute;
    width: 350px;
    height: 99px;
    left: 71px;
    right: -165px;
    top: 152px;
    bottom: -4329px;

    color: rgb(51, 51, 51);
    font-family: Nunito;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: center;
}

.nameUser-1, .nameUser-2, .nameUser-3 {
    /* Wade Warren */
    position: absolute;
    width: 350px;
    height: 27px;
    left: 65px;
    right: -165px;
    top: 292px;
    bottom: -4617px;

    color: rgb(51, 51, 51);
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center; 
}

.jobUser-1, .jobUser-2, .jobUser-3 {
    /* Astronaut */
    position: absolute;
    width: 350px;
    height: 22px;
    left: 66px;
    right: -165px;
    top: 320px;
    bottom: -4643px;

    color: rgb(51, 51, 51);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center; 
}

.user-1:hover {
    border-radius: 50px;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
}


/* User 2 */
.user-2 {
    /* Item 1 */
    position: absolute;
    width: 500px;
    height: 355px;
    left: 580px;
    right: 595px;
    top: 145px;
    bottom: -4406px;
}


.user-2:hover {
    border-radius: 50px;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
}

/* User 3 */
.user-3 {
    /* Item 1 */
    position: absolute;
    width: 453px;
    height: 355px;
    left: 1026px;
    right: 595px;
    top: 145px;
    bottom: -4406px;
    margin-left: 30px;
}

.user-3:hover {

    border-radius: 50px;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
}